In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/Users/will/galvanize/ethereum_clustering/prices.csv')

In [6]:
df.head(50)

    Date(UTC)  UnixTimeStamp  Value
0   7/30/2015     1438214400   0.00
1   7/31/2015     1438300800   0.00
2    8/1/2015     1438387200   0.00
3    8/2/2015     1438473600   0.00
4    8/3/2015     1438560000   0.00
5    8/4/2015     1438646400   0.00
6    8/5/2015     1438732800   0.00
7    8/6/2015     1438819200   0.00
8    8/7/2015     1438905600   3.00
9    8/8/2015     1438992000   1.20
10   8/9/2015     1439078400   1.20
11  8/10/2015     1439164800   0.00
12  8/11/2015     1439251200   0.99
13  8/12/2015     1439337600   1.29
14  8/13/2015     1439424000   1.88
15  8/14/2015     1439510400   1.79
16  8/15/2015     1439596800   1.79
17  8/17/2015     1439769600   1.30
18  8/16/2015     1439683200   1.37
19  8/18/2015     1439856000   1.36
20  8/19/2015     1439942400   1.24
21  8/20/2015     1440028800   1.52
22  8/21/2015     1440115200   1.44
23  8/22/2015     1440201600   1.40
24  8/23/2015     1440288000   1.35
25  8/24/2015     1440374400   1.24
26  8/25/2015     1440460800   1.27
27  8/26/2015     1440547200   1.18
28  8/27/2015     1440633600   1.14
29  8/28/2015     1440720000   1.30
30  8/29/2015     1440806400   1.18
31  8/30/2015     1440892800   1.32
32  8/31/2015     1440979200   1.31
33   9/1/2015     1441065600   1.36
34   9/2/2015     1441152000   1.14
35   9/3/2015     1441238400   1.23
36   9/4/2015     1441324800   1.35
37   9/5/2015     1441411200   1.37
38   9/6/2015     1441497600   1.34
39   9/7/2015     1441584000   1.28
40   9/8/2015     1441670400   1.26
41   9/9/2015     1441756800   1.21
42  9/10/2015     1441843200   1.19
43  9/11/2015     1441929600   0.92
44  9/12/2015     1442016000   1.15
45  9/13/2015     1442102400   0.89
46  9/14/2015     1442188800   0.96
47  9/15/2015     1442275200   0.95
48  9/16/2015     1442361600   0.94
49  9/17/2015     1442448000   0.88